@model ProjectInfo

<body>
    <form id="ProjectAdd" class="layui-form layui-form-pane"
          asp-controller="Project" asp-action="ProjectAdd"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#"
          data-ajax-method="Post"
          data-ajax-success="Callback">
        @await Html.PartialAsync("ProjectForm")
    </form>
</body>