/YeZiFang.Consul/bin
/YeZiFang.Common/bin
/YeZiFang.Application/bin
/YeZiFang.App/bin
/YeZiFang.Api/bin
/YeZiFang.Admin/bin
/YeZiFang.SyncData/bin
/YeZiFang.Service/bin
/YeZiFang.Model/bin
/YeZiFang.DataContract/bin
/YeZiFang.Dao/bin
/YeZiFang.App/obj
/YeZiFang.Api/obj
/YeZiFang.Admin/obj
/YeZiFang.SyncData/obj
/YeZiFang.Service/obj
/YeZiFang.Model/obj
/YeZiFang.DataContract/obj
/YeZiFang.Dao/obj
/YeZiFang.Consul/obj
/YeZiFang.Common/obj
/YeZiFang.Application/obj
