
@model AuthInfo

<body>
    <form id="UserAdd" class="layui-form layui-form-pane"
          asp-controller="System" asp-action="AuthAdd"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#"
          data-ajax-method="Post"
          data-ajax-success="Callback">
            @await Html.PartialAsync("AuthForm")
    </form>
</body>