@{
    ViewBag.Title = "权限不足";
}
<body>
    <div class="container">
        <div class="layui-elem-quote" style=" border-color:red;">
            很抱歉，你没有该操作的权限，请联系管理员！
        </div>
    </div>
</body>
