@{
    ViewBag.Title = "主页";
}
<body>
    <form id="form1" style="padding:20px;">
        <div class="layui-elem-quote" style=" border-color:red; color:red">
            温馨提示：本Demo所有操作为真实数据操作，如果你需要执行编辑/删除操作，请先添加额外的数据后再进行操作，以避免破坏原Demo数据，3Q！
        </div>
        <div style="margin-top:100px; text-align:center;">

            <h1 style="font-size:38px;">ASP.NET Core MVC</h1>
            <h1 style="font-size:38px;">简单管理系统</h1>
        </div>
    </form>
    
</body>
